*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: #001f3f;
  overflow: hidden;
}

.logo {
  position: absolute;
  left: 2rem;
  top: 1rem;
  color: tomato;
  font-size: 5rem;
}

.board {
  /* position: absolute; */
  margin: 5rem auto;
  height: 65rem;
  width: 65rem;
  border: dotted red 4px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);

}

.cell {
  height: 100%;
  width: 100%;
  
}

.active {
  height: 100%;
  width: 100%;

  background-color: tomato;
}

#start-button {
  margin: 0 auto;
  position: relative;
  top: 2rem;
  width: 10rem;
  height: 3.6rem;
  /* padding-top: 10rem; */
  background: radial-gradient( #D3D3D3, #A9A9A9);
  border: solid 1px;
  border-radius: 2px;
  border-color: tomato;
  text-align: center;
  box-shadow: outset 0rem 2rem 2rem rgba(0,0,0,.4);

  /* background: #ededed; */
  border: 1px solid #ccc;
  padding: .5rem;
  border-radius: 3px;
  cursor: pointer;
}

#start-button:active {
  margin: 0 auto;
  position: relative;
  top: 2rem;
  width: 10rem;
  height: 3.6rem;
  /* padding-top: 10rem; */
  background: radial-gradient( #D3D3D3, #A9A9A9);
  border: solid 1px;
  border-radius: 2px;
  border-color: tomato;
  text-align: center;
  box-shadow: inset 0rem .5rem 1rem rgba(0,0,0,1);

  /* background: #ededed; */
  border: 1px solid #ccc;
  padding: .5rem;
  border-radius: 3px;
  cursor: pointer;
}